@{
    ViewBag.Title = Strings.Create;
}

@using (Html.BeginForm("Create", "Products", FormMethod.Post))
{
    <div class="row">
        <div class="form-group col-md-6">
            <label for="Name">@Strings.Name</label>
            <input class="form-control" type="text" placeholder="@Strings.Name" name="Name" />
        </div>
        <div class="form-group col-md-6">
            <label for="Price">@Strings.Price</label>
            <input class="form-control" type="text" placeholder="@Strings.Price" name="Price" />
        </div>
        <div class="form-group col-md-6">
            <label for="DateOfPurchase">@Strings.DateOfPurchase</label>
            <input class="form-control" type="date" placeholder="@Strings.DateOfPurchase" name="DateOfPurchase" />
        </div>
        <div class="form-group col-md-6">
            <label for="CategoryID">@Strings.Category</label>
            <select class="form-control" name="CategoryID">
                <option>@Strings.PleaseSelect</option>
                @foreach(var cat in ViewBag.Categories)
                {
                    <option value="@cat.ID">@cat.Name</option>
                }
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="BrandID">@Strings.Brand</label>
            <select class="form-control" name="BrandID">
                <option>@Strings.PleaseSelect</option>
                @foreach (var bra in ViewBag.Brands)
                {
                    <option value="@bra.ID">@bra.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <div class="form-check">
                <label class="form-check-label" for="AvailabilityStatus">@Strings.AvailabilityStatus</label>
                <input class="form-check-input" type="checkbox" name="AvailabilityStatus" value="true" />
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-success">@Strings.Submit</button>
            <a class="btn btn-danger" href="/Products/Index">@Strings.Cancel</a>
        </div>
    </div>
}