@model Product
@{
    ViewBag.Title = Strings.Create;
}

@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" })) // enctype needed to submit files to server (i.e. Photo)
{
    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = Strings.Name })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.Price)
            @Html.TextBoxFor(x => x.Price, new { @class = "form-control", placeholder = Strings.Price })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.DOP)
            @Html.TextBoxFor(x => x.DOP, new { @class = "form-control", type="date", placeholder = Strings.DateOfPurchase })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.Category)
            @Html.DropDownListFor(x => x.CategoryID, new SelectList(ViewBag.Categories, "ID", "Name"), Strings.PleaseSelect, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.Brand)
            @Html.DropDownListFor(x => x.BrandID, new SelectList(ViewBag.Brands, "ID", "Name"), Strings.PleaseSelect, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="Photo">@Strings.Photo</label>
            <input class="form-control" type="file" name="Photo">
        </div>
        <div class="form-group">
            @Html.CheckBoxFor(x => x.AvailabilityStatus, new { @class = "form-check-input", value = "true" })
            @Html.LabelFor(x => x.AvailabilityStatus)
        </div>

        <div>
            <button type="submit" class="btn btn-success">@Strings.Submit</button>
            @Html.ActionLink(Strings.Cancel, "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>
}