@model Product
@{
    ViewBag.Title = Strings.Details;
    Layout = "~/Views/Shared/_LayoutHeader.cshtml";
}

<a class="btn btn-primary" href="/Products/Edit/@Model.ID">@Strings.Edit</a>

<table class="table">
    <tbody>
        <tr>
            <th>@Strings.ID</th>
            <td>@Model.ID</td>
        </tr>
        <tr>
            <th>@Strings.Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>@Strings.Cost</th>
            <td>@(Model.Price.HasValue ? Model.Price.Value.ToString("C") : "")</td>
        </tr>
        <tr>
            <th>@Strings.DateofPurchase</th>
            <td>@(Model.DateOfPurchase.HasValue ? Model.DateOfPurchase.Value.ToString("d/M/yyyy") : "")</td>
        </tr>
        <tr>
            <th>@Strings.Category</th>
            <td>@(Model.Category != null ? Model.Category.Name : "")</td>
        </tr>
        <tr>
            <th>@Strings.Brand</th>
            <td>@(Model.Brand != null ? Model.Brand.Name : "")</td>
        </tr>
        <tr>
            <th>@Strings.AvailabilityStatus</th>
            <td>@Model.AvailabilityStatus</td>
        </tr>
    </tbody>
</table>

<a href="/Products/Index">@Strings.Return</a>