@model Product
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { id = Model.ID, enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="form-group col-md-6">
            @Html.HiddenFor(x => x.ID)

            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", value = Model.Name })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.Price)
            @Html.TextBoxFor(x => x.Price, new { @class = "form-control", value = Model.Price })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.DateOfPurchase)
            <input class="form-control" type="date" value="@(Model.DateOfPurchase.HasValue ? Model.DateOfPurchase.Value.ToString("d/M/yyyy") : "")" name="DateOfPurchase" />
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.Category)
            @Html.DropDownListFor(x => x.CategoryID, new SelectList(ViewBag.Categories, "ID", "Name"), Strings.PleaseSelect, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(x => x.Brand)
            @Html.DropDownListFor(x => x.BrandID, new SelectList(ViewBag.Brands, "ID", "Name"), Strings.PleaseSelect, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <div class="form-check">
                @Html.CheckBoxFor(x => x.AvailabilityStatus, new { @class = "form-check-input"} )
                @Html.LabelFor(x => x.AvailabilityStatus)
            </div>
        </div>
        <div class="form-group">
            <th>@Html.LabelFor(x => x.Photo)</th>
            <input class="form-control" type="file" name="Photo" value="@Model.Photo">
        </div>
        <div>
            <button type="submit" class="btn btn-success">@Strings.Submit</button>
            <a class="btn btn-danger" href="javascript:void(0)" onclick="history.go(-1)">@Strings.Cancel</a>
        </div>
    </div>
}