@model List<Product>
@{
    ViewBag.Title = Strings.Products;
    ViewBag.Message = "View offered products";
}

<div class="btn-group">
    @Html.ActionLink(Strings.Create, "Create", null, new { @class = "btn btn-primary" })
</div>

<form class="row g-3" action="/Products/Index">
    <div class="col-auto">
        <input type="search" class="form-control" id="search" name="search" placeholder="@Strings.Search" value="@ViewBag.Search" />
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">@Strings.Search</button>
    </div>
</form>

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>@Strings.ID</th>
                <th>@Strings.Name</th>
                <th>@Strings.Price</th>
                <th>@Strings.DateofPurchase</th>
                <th>@Strings.Category</th>
                <th>@Strings.Brand</th>
                <th>@Strings.AvailabilityStatus</th>
                <th>@Strings.Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td><a href="/Products/Details/@item.ID">@item.Name</a></td>
                    <td>@(item.Price.HasValue ? item.Price.Value.ToString("C") : "")</td>
                    <td>@(item.DateOfPurchase.HasValue ? item.DateOfPurchase.Value.ToString("d/M/yyyy") : "")</td>
                    <td>@item.Category.Name, @item.CategoryID</td>
                    <td>@item.Brand.Name, @item.BrandID</td>
                    <td>@item.AvailabilityStatus</td>
                    <td>
                        <a href="/Products/Details/@item.ID">@Strings.Details</a>
                        <a href="/Products/Edit/@item.ID">@Strings.Edit</a>
                        <a href="/Products/Delete/@item.ID" id="Delete">@Strings.Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="confirmDelete">
    <div class="modal-dialog modal-content">
        <div class="modal-body">
            <p>@Strings.DeleteConfirmation</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="deleteYes">@Strings.Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Strings.No</button>
        </div>
    </div>
</div>

<div class="modal fade" id="errorDelete">
    <div class="modal-dialog modal-content">
        <div class="modal-body">
            <p>@ErrorMessages.DeleteFailed</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">@Strings.OK</button>
        </div>
    </div>
</div>


    <script type="text/javascript">
        $(document).ready(function () {
            $('[id^="Delete"]').on("click", function () {
                var chargeID = $(event.target)[0].id.split("Delete")[1];

                $('#confirmDelete').modal('toggle');
                document.getElementById('deleteYes').onclick = function () {
                    $.ajax({
                        url: '/Charges/Delete?id=' + chargeID,
                        type: 'POST',
                        success: function (data) {
                            window.location.reload();
                        },
                        error: function (xhr, status, error) {
                            $('#errorDelete').modal('toggle');
                        }
                    });
                }
            });
        });
    </script>
