@model List<Product>
@{
    ViewBag.Title = Strings.Products;
    ViewBag.Message = "View offered products";
}

<div class="container-fluid">
    <a href="@Url.Action("Create", "Products")">@Strings.Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>@Strings.ID</th>
                <th>@Strings.Name</th>
                <th>@Strings.Cost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td><a href="/Products/Details/@item.ID">@item.Name</a></td>
                    <td>@item.Cost</td>
                </tr>
            }
        </tbody>
    </table>
    
    @*<div class="row">
        <div class="col-md-6">
            <h2>Categories</h2>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">Weapons</a>
                <a href="#" class="list-group-item list-group-item-action">Armour</a>
                <a href="#" class="list-group-item list-group-item-action">Vehicles</a>
                <a href="#" class="list-group-item list-group-item-action">Tools</a>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Brands</h2>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">Misriah</a>
                <a href="#" class="list-group-item list-group-item-action">Bungie Motor Works</a>
                <a href="#" class="list-group-item list-group-item-action">Traxus Mining Industries</a>
            </div>
        </div>
    </div>*@
</div>
