@model List<Product>
@{
    ViewBag.Title = Strings.Products;
    ViewBag.Message = "View offered products";
}

<div class="btn-group">
    @Html.ActionLink(Strings.Create, "Create", null, new { @class = "btn btn-primary" })
</div>

<form class="row g-3" action="/Products/Index">
    <div class="col-auto">
        <input type="search" class="form-control" id="search" name="search" placeholder="@Strings.Search" value="@ViewBag.Search" />
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">@Strings.Search</button>
    </div>
</form>

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>@Strings.ID</th>
                <th>@Strings.Name</th>
                <th>@Strings.Price</th>
                <th>@Strings.DateofPurchase</th>
                <th>@Strings.Category</th>
                <th>@Strings.Brand</th>
                <th>@Strings.AvailabilityStatus</th>
                <th>@Strings.Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td><a href="/Products/Details/@item.ID">@item.Name</a></td>
                    <td>@(item.Price.HasValue ? item.Price.Value.ToString("C") : "")</td>
                    <td>@(item.DateOfPurchase.HasValue ? item.DateOfPurchase.Value.ToString("d/M/yyyy") : "")</td>
                    <td>@item.Category.Name, @item.CategoryID</td>
                    <td>@item.Brand.Name, @item.BrandID</td>
                    <td>@item.AvailabilityStatus</td>
                    <td>
                        <a href="/Products/Details/@item.ID">@Strings.Details</a>
                        <a href="/Products/Edit/@item.ID">@Strings.Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
