@model List<Product>
@{
    ViewBag.Title = Strings.Products;
    ViewBag.Message = "View offered products";
}

<form class="form-inline" action="/Products/Index">
    <input type="search" class="form-control mr-1" id="search" name="search" placeholder="@Strings.Search" value="@ViewBag.Search"/>
    <button type="submit" class="btn btn-primary">@Strings.Search</button>
</form>

<div class="container-fluid">
    <a href="@Url.Action("Create", "Products")">@Strings.Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>@Strings.ID</th>
                <th>@Strings.Name</th>
                <th>@Strings.Price</th>
                <th>@Strings.DateofPurchase</th>
                <th>@Strings.AvailabilityStatus</th>
                <th>@Strings.Category</th>
                <th>@Strings.Brand</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td><a href="/Products/Details/@item.ID">@item.Name</a></td>
                    <td>@item.Price.Value.ToString("C")</td>
                    <td>@item.DateOfPurchase.Value.ToString("d/M/yyyy")</td>
                    <td>@item.AvailabilityStatus</td>
                    <td>@item.Category.Name</td>
                    <td>@item.Brand.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
