@model List<Product>
@{
    ViewBag.Title = Strings.Products;
    ViewBag.Message = "View offered products";
}

<div class="btn-group">
    @Html.ActionLink(Strings.Create, "Create", null, new { @class = "btn btn-primary" })
</div>

<form class="row g-3" action="/Products/Index">
    <div class="col-auto">
        <input type="search" class="form-control" id="search" name="search" placeholder="@Strings.Search" value="@ViewBag.Search" />
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">@Strings.Search</button>
    </div>
</form>

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th>
                    @if (ViewBag.IconClass == "fa-sort-desc")
                    {
                        <a href="/Products/Index?sortColumn=ID&iconClass=fa-sort-asc">@Strings.ID</a>
                    }
                    else
                    {
                        <a href="/Products/Index?sortColumn=ID&iconClass=fa-sort-desc">@Strings.ID</a>
                    }
                    @if (ViewBag.SortColumn == "ID")
                    {
                    <i class="fa @ViewBag.IconClass"></i>
                    }
                </th>
                <a>@Strings.Name</a>
                <a>@Strings.Price</a>
                <a>@Strings.DateofPurchase</a>
                <a>@Strings.Category</a>
                <a>@Strings.Brand</a>
                <a>@Strings.AvailabilityStatus</a>
                <a>@Strings.Action</a>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td><a href="/Products/Details/@item.ID">@item.Name</a></td>
                    <td>@(item.Price.HasValue ? item.Price.Value.ToString("C") : "")</td>
                    <td>@(item.DateOfPurchase.HasValue ? item.DateOfPurchase.Value.ToString("d/M/yyyy") : "")</td>
                    <td>@(item.Category != null ? item.Category.Name : "")</td>
                    <td>@(item.Brand!= null ? item.Brand.Name : "")</td>
                    <td>@item.AvailabilityStatus</td>
                    <td>
                        <a class="btn btn-primary" href="/Products/Details/@item.ID">@Strings.Details</a>
                        <a class="btn btn-primary" href="/Products/Edit/@item.ID">@Strings.Edit</a>
                        <a class="btn btn-primary" id="Delete_@item.ID">@Strings.Delete</a> @*No href as actual POST is on modal confirmation popup, handled by jquery*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="confirmDelete">
    <div class="modal-dialog modal-content">
        <div class="modal-body">
            <p>@Strings.DeleteConfirmation</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="deleteYes">@Strings.Yes</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Strings.No</button>
        </div>
    </div>
</div>

<div class="modal fade" id="errorDelete">
    <div class="modal-dialog modal-content">
        <div class="modal-body">
            <p>@ErrorMessages.DeleteFailed</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">@Strings.OK</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('[id^="Delete_"]').on("click", function () {
            $('#confirmDelete').modal('toggle');
            var itemID = $(event.target)[0].id.split("Delete_")[1];
            document.getElementById('deleteYes').onclick = function () {
                $.ajax({
                    url: '/Products/Delete/' + itemID,
                    type: 'POST',
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        $('#errorDelete').modal('toggle');
                    }
                });
            }
        });
    });
</script>
